---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - cortex.kubecortex.io
  resources:
  - planrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cortex.kubecortex.io
  resources:
  - planrequests/finalizers
  verbs:
  - update
- apiGroups:
  - cortex.kubecortex.io
  resources:
  - planrequests/status
  verbs:
  - get
  - patch
  - update
